.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    max-width: 20em;
    border-radius: 20px;
}

.code img {
    display: flex;
    justify-self: center;
    max-width: 100%;
    padding: 30px;
}

div h1 {
    margin: 2px 20px; 
    font-weight: 700;
    font-size: 20px;
}

div p {
    font-weight: 400;
    padding: 30px;
    font-size: 15px;
}